:root {
  --black-color: #181818;
  --black-soft: #222222;
  --black-mute: #282828;
  --grey-1: #1e1e1c;
  --grey-2: rgba(60, 60, 60, 0.29);
  --grey-3: rgba(60, 60, 60, 0.12);
  --grey-4: rgba(60, 60, 60, 0.66);
  --grey-5: rgba(84, 84, 84, 0.48);
  --grey-6: rgba(84, 84, 84, 0.65);
  --grey-7: #e0e0e0;
  --indigo: #2c3e50;
}

:root {
  --green-main: #00a08a;
  --green-dark-1: #1e786c;
  --green-dark-2: #00685a;
  --green-light-1: #34d0ba;
  --green-light-2: #5dd0c0;
  --purple-main: #ce0071;
  --purple-dark-1: #9b2766;
  --purple-dark-2: #860049;
  --purple-light-1: #e73a98;
  --purple-light-2: #e768ad;
  --yellow-main: #ffc700;
  --yellow-dark-1: #bfa030;
  --yellow-dark-2: #a68100;
  --yellow-light-1: #ffd540;
  --yellow-light-2: #ffe073;
  --hover-color: #0000000a;
}

:root {
  --size-text-1: 16px;
  --size-text-2: 14px;
  --size-text-3: 12px;
  --size-text-4: 10px;
}

:root {
  --green-background-1: var(--green-light-1);
  --green-background-2: var(--green-light-2);

  --dark-green-text: var(--green-dark-2);
  --purple-text: var(--purple-main);

  --side-bar-width: 60px;
  --side-panel-header-height: 60px;
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--grey-1);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Noto Sans Display", serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-style: normal;
  &:focus {
    outline: none;
  }
}
/* HTML5 display-role reset for older browsers */
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
  -webkit-user-drag: none;
}

button {
  outline: none;
  cursor: pointer;
  background: none;
  text-align: center;
  width: auto;
  border: none;
}

*[role="button"] {
  cursor: pointer;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

select {
  margin: 0;
  appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

button:disabled {
  .large-icon,
  .extra-large-icon,
  .small-icon,
  .medium-icon {
    opacity: 0.5;
  }
}

.small-icon {
  width: 14px;
  height: 14px;
}

.medium-icon {
  width: 16px;
  height: 16px;
}

.large-icon {
  width: 20px;
  height: 20px;
}

.extra-large-icon {
  width: 23px;
  height: 23px;
}

.xxl-icon {
  width: 30px;
  height: 30px;
}

.white-icon {
  color: white;
}

.black-icon {
  color: var(--indigo);
}

.green-icon {
  color: rgb(19, 193, 118);
}

.dark-green-icon {
  color: var(--green-dark-2);
}

.purple-icon {
  color: var(--purple-main);
}

.light-purple-icon {
  color: var(--purple-light-2);
}

.grey-icon {
  color: grey;
}

.grey-icon .isSelected {
  color: purple;
}

.light-grey-icon {
  color: lightgrey;
}

.red-icon {
  color: #e60000;
}

.yellow-icon {
  color: var(--yellow-dark-2);
}

button .disabled {
  color: var(--grey6);
}
